<div class="flex flex-row h-full w-full pt-20">
  <div class="hidden lg:flex lg:flex-col lg:justify-center items-center w-1/2">
    <div>
      <img
        class="flex drop-shadow-[0_5px_50px_rgb(32,204,204)]"
        src="./../../../assets/images/gustavo-rombo.png"
        alt=""
      />
    </div>
  </div>
  <div class="flex flex-col justify-center lg:w-1/2">
    <div class="flex flex-row justify-center mb-8">
      <h1 class="font-extrabold text-4xl mr-2">About</h1>
      <h1 class="text-primary font-extrabold text-4xl">ME</h1>
    </div>
    <p class="text-center text-lg">
      {{ aboutME }}
    </p>
  </div>
</div>
