<nav
  class="fixed w-full h-16 bg-card dark:bg-card px-5 lg:px-28 shadow shadow-optional z-50"
>
  <div class="flex h-full justify-between">
    <!-- LOGO -->
    <div class="flex items-center h-full">
      <a href="#home">
        <div
          class="text-center text-optional hover:text-primary font-bold text-lg cursor-default"
        >
          SANGUXXI
        </div>
      </a>
    </div>
    <!-- MENU -->
    <div
      [ngClass]="{ hidden: aria === false }"
      class="lg:flex items-center mt-16 lg:mt-0"
    >
      <ul
        class="bg-card dark:bg-card absolute w-full left-0 text-center pb-4 space-y-4 lg:space-y-0 lg:pb-0 lg:static lg:flex lg:flex-row lg:items-center lg:content-center lg:space-x-8 font-semibold text-lg"
      >
        <li (click)="clicked('home')">
          <a
            class="text-highlight hover:text-primary"
            [ngClass]="{ 'text-primary': currentTab === 'home' }"
            href="#home"
            >Home</a
          >
        </li>
        <li (click)="clicked('about-me')">
          <a
            class="text-highlight hover:text-primary"
            [ngClass]="{ 'text-primary': currentTab === 'about-me' }"
            href="#about"
            >About me</a
          >
        </li>
        <li (click)="clicked('skills')">
          <a
            class="text-highlight hover:text-primary"
            [ngClass]="{ 'text-primary': currentTab === 'skills' }"
            href="#skills"
            >Skills</a
          >
        </li>
        <li (click)="clicked('portfolio')">
          <a
            class="text-highlight hover:text-primary"
            [ngClass]="{ 'text-primary': currentTab === 'portfolio' }"
            href="#portfolio"
            >Portfolio</a
          >
        </li>
        <li (click)="clicked('contact')">
          <a
            class="text-highlight hover:text-primary"
            [ngClass]="{ 'text-primary': currentTab === 'contact' }"
            href="#contact"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    <!-- CTA -->
    <div class="flex items-center h-full">
      <a target="_blank" rel="noopener noreferrer" href="{{ getLink() }}">
        <button
          class="px-4 py-1 border-2 border-primary hover:bg-secondary hover:text-card text-primary rounded-md mr-2 lg:mr-0 font-semibold text-lg"
        >
          Say hi 👋🏻
        </button>
      </a>
      <button
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden focus:outline-none focus:ring-2"
        (click)="aria = !aria"
      >
        <span class="sr-only">Open main menu</span>
        <i class="bx bx-menu text-4xl text-optional"></i>
      </button>
    </div>
  </div>
</nav>
