<div class="flex flex-col w-full lg:flex-row lg:h-full pt-16">
  <div class="lg:flex lg:w-1/2">
    <div class="lg:flex lg:justify-center lg:flex-col lg:space-y-3 space-y-2">
      <h1 class="text-4xl">Hey, I am</h1>
      <h1 class="text-4xl font-semibold text-optional">
        Gustavo González Granadillo
      </h1>
      <div class="flex flex-row">
        <h2 class="text-2xl font-semibold">And i'm a</h2>
        <h2 class="text-2xl font-semibold text-primary ml-2">
          Jr Frontend developer
        </h2>
      </div>
      <p class="md:text-lg">
        {{ heroText }}
      </p>
      <div>
        <div class="flex lg:flex-row lg:flex-wrap mt-6">
          <app-btn-boxicon class="space-x-2"></app-btn-boxicon>
        </div>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="{{ getResumeLink() }}"
        >
          <button
            class="px-5 py-3 rounded shadow-md bg-primary hover:bg-secondary border-card text-highlight font-semibold text-lg mt-6"
            type="button"
          >
            📄Download CV
          </button>
        </a>
      </div>
    </div>
  </div>
  <!-- ANOTHER SIDE -->
  <div
    class="flex flex-col lg:w-1/2 lg:h-full justify-center items-center lg:mt-28 mt-12"
  >
    <img
      class="flex w-72 md:w-96 lg:w-[490px] drop-shadow-[0_5px_50px_rgb(32,204,204)] animate-[bounce_6s_infinite]"
      src="./../assets/images/gustavo-fondo.png"
      alt=""
    />
  </div>
</div>
