/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #15141f;
  color: #eee;
}
html {
  scroll-behavior: smooth;
}

body, html {
  /* overflow: auto; */           // No forzar overflow aquí
  -ms-overflow-style: none;       // IE y Edge: oculta la scrollbar
  scrollbar-width: none;          // Firefox: oculta la scrollbar
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none;                  // Chrome, Safari y Opera: oculta la scrollbar
}
